.checkm8-arrows line {
  opacity: 0.9;
  transition: 0.2s;
}

.checkm8-arrows text {
  font-weight: bold;
  paint-order: stroke;
  stroke: black;
  stroke-width: 0.05;
}

.checkm8-arrows line:hover {
  opacity: 1;
}

#arrowLegend {
  font-family: Arial, sans-serif;
  display: none; /* Start hidden */
}
